<%- include('../components/header.ejs') %>

    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">About</h1>

        <!-- DataTales Example -->
        <div class="row-12">
            <% if(alert.message != ""){ %>
                <div class="alert alert-<%= alert.status %>" role="alert">
                    <%- alert.status == "success" ? 
                    `<i class="fas fa-check-square mr-2"></i>` : 
                    `<i class="fas fa-exclamation-triangle mr-2"></i>` 
                    %>
                    <%= alert.message %>
                </div>
            <% } %>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form action="/payment?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
                            <div class="form-group">
                                <label for="corporateName">Corporate</label>
                                <input type="text" class="form-control" id="corporateName" name="corporateName" value="<%= about.corporateName %>">
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location" name="location" value="<%= about.location %>">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="7" name="description"><%= about.description %>"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea type="text" class="form-control" id="address" rows="5" name="address"><%= about.address %></textarea>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" rows="7" name="phone" value="<%= about.phone %>">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/payment?_method=PUT" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" class="form-control paymentName" id="name" name="name" placeholder="Masukkan Nama Payment..."></input>
                        </div>
                        <div class="form-group">
                            <label for="paymentStep">paymentStep</label>
                            <textarea class="form-control paymentStep" id="paymentStep" rows="7" name="paymentStep" placeholder="Masukkan Langkah - langkah..."></textarea>
                        </div>
                        <input class="id" type="hidden" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Hapus-->
    <div class="modal fade" id="hapusModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Hapus payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form-hapus" method="post">
                    <div class="modal-body">
                        <h3>Apakah saya yakin ?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    $('#dataTable').on('click', '.button-hapus', function(){
        $('#hapusModal').modal('show');
        let id = $(this).data('id');
        let url = `/payment/${id}?_method=DELETE`;
        $('.form-hapus').attr('action',url);
        return false;
    });
</script>

<%- include('../components/bottom.ejs') %>